<manifest xmlns:android="http://schemas.android.com/apk/res/android"

          package="com.king.batterytest.fbaselib"
    >

    <uses-permission android:name="android.permission.VIBRATE"/>
    <application
        android:label="@string/app_name"
        android:supportsRtl="true">
        <!-- 【必须】 (2.30及以上版新增)展示通知的activity -->
        <activity
            android:name=".main.ScanActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".customview.multiimageselector.MultiImageSelectorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"/>



    </application>

</manifest>
